In [11]:
import pandas as pd
data=[10,20,30,40,50]
print(data)
series=pd.Series(data)
print(series)
print(type(series))
#indexing works here just like python and numpy

[10, 20, 30, 40, 50]
0    10
1    20
2    30
3    40
4    50
dtype: int64
<class 'pandas.core.series.Series'>

In [23]:
import pandas as pd
months=['January','February','March','April','May','June','July','August','September','October','November','December']
sales_data=[1000,2000,3000,4000,5000,6000,4400,3300,2000,1200,4300,5400]
#Create a panda series with months as the index
sales_series=pd.Series(sales_data,index=months)
print(sales_series)

January      1000
February     2000
March        3000
April        4000
May          5000
June         6000
July         4400
August       3300
September    2000
October      1200
November     4300
December     5400
dtype: int64

In [37]:
import pandas as pd 
data={
    'Name':['Alice','Bob','Charlie','david'],
    'age':[22,23,32,22],
    
    
}
df=pd.DataFrame(data)
print("Before Adding:")
print(df)
print("After Adding:")
df['city']=['a','b','c','d']
print(df)
new_columns={
    'Gender':['M','F','M','M'],
    'Grade':['A','B','A','B']
}
df['Gender']=new_columns['Gender']
df['Grade']=new_columns['Grade']
print("  ")
print("Data frames after adding new frames")
print(" ")
print(df)

Before Adding:
      Name  age
0    Alice   22
1      Bob   23
2  Charlie   32
3    david   22
After Adding:
      Name  age city
0    Alice   22    a
1      Bob   23    b
2  Charlie   32    c
3    david   22    d

Data frames after adding new frames

      Name  age city Gender Grade
0    Alice   22    a      M     A
1      Bob   23    b      F     B
2  Charlie   32    c      M     A
3    david   22    d      M     B

In [ ]:
#Insert method is used to insert column at a given specific position as ---df.insert(index,column_name,column_values)